DATABASE_URL=
OPENAI_API_KEY=
STORAGE_DRIVER=
NEXT_PUBLIC_STORAGE_DRIVER=
BLOB_WEBHOOK_PUBLIC_KEY=
BLOB_STORE_ID=
BLOB_READ_WRITE_TOKEN=
AUTH_SECRET=generate_a_secret_here
AUTH_GOOGLE_ID=your_google_client_id
AUTH_GOOGLE_SECRET=your_google_client_secret

NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=
NEXT_PUBLIC_CLERK_SIGN_IN_URL=/login
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up
NEXT_PUBLIC_CLERK_AFTER_SIGN_IN_URL=/receipts
NEXT_PUBLIC_CLERK_AFTER_SIGN_UP_URL=/receipts