DATABASE_URL=
OPENAI_API_KEY=
STORAGE_DRIVER=
NEXT_PUBLIC_STORAGE_DRIVER=
BLOB_WEBHOOK_PUBLIC_KEY=
BLOB_STORE_ID=
BLOB_READ_WRITE_TOKEN=
AUTH_SECRET=generate_a_secret_here
AUTH_GOOGLE_ID=your_google_client_id
AUTH_GOOGLE_SECRET=your_google_client_secret